<div fxLayout="row" fxLayoutAlign="space-between center" class="stats-cards" style="height: 20vh;" fxLayoutGap="10px">
    <mat-card fxFlex="25">
        <app-state-card label="New Users" total="12k" percentage="40"></app-state-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-state-card label="New Users" total="12k" percentage="40"></app-state-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-state-card label="New Users" total="12k" percentage="40"></app-state-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-state-card label="New Users" total="12k" percentage="40"></app-state-card>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" style="height: 65vh;" fxLayoutGap="20px">
        <mat-card fxFlex="50"> 
            <app-stacked-column-chart></app-stacked-column-chart>
        </mat-card>
        <mat-card fxFlex="50">
            <app-stacked-column-chart></app-stacked-column-chart>
        </mat-card>
</div>