<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-state-card label="New Users" total="12k" percentage="40"></app-state-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-state-card label="New Users" total="12k" percentage="40"></app-state-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-state-card label="New Users" total="12k" percentage="40"></app-state-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-state-card label="New Users" total="12k" percentage="40"></app-state-card>
    </mat-card>
</div>

<mat-divider></mat-divider>
<br>



<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <div fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <app-column-chart></app-column-chart>
        </mat-card>
    </div>
    <div fxLayout="column">
        <mat-card>
            <app-column-chart></app-column-chart>
        </mat-card>
    </div>
</div>

<br>