:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 15vw;
}

mat-drawer-container{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}

mat-drawer-content{
    padding: 20px;
}